html{
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	color: #333333;
}
body{
	margin: 0;
	padding: 0;
}
h1{
	margin: 0;
}
/* COLORS 
orange: e67e22;
blue: 3498db;

the blackest black: 333333;
grey: ecf0f1;
white: f2f2f2;

 */
#wrapper{
	margin-top: 0;
}
#top-bottom{
	width: 100%;
	height: 70vh;
	background-color: #ecf0f1;
	display: flex;
	justify-content:center;
}
#top{
	width: 96%;
	height: 65vh;
	background-color: #e67e22;
	margin-top: 15px;
}
#top h1, h2, h3{
	text-align: center;
	text-transform: uppercase;
}
#top h2, h3{
	margin: 0;
}
#top h1{
	margin-top: 20vh;
	font-weight: 900;
	font-size: 210px;
	margin-bottom: 0;
	line-height: 130px;
	
}
#top h2{
	color: #f2f2f2;
	font-size: 50px;
	line-height: 30px;
}
#top h3{
	font-size: 26px;
}

#top-links{
	width: 80%;
	display: flex;
	flex-flow:row-wrap;
	justify-content: space-around
}
#portfolio{
	margin: 10px;
	margin-bottom: 200px;
}
#portfolio h1{
	margin: 100px 0 60px 15%;
	font-size: 50px;
	font-weight: 900;
	text-transform: uppercase;
}
#portfolio-parent{
	display: flex;
	justify-content:center;
	flex-flow: row wrap;
}

figure{
	width: 250px;
	border: 1px solid grey;
}
figcaption{
	padding: 5px;
	text-align: center;
}
figcaption div{
	float: left;
	border: 1px solid orange;
	width: 118px;
}

.portfolio-img{
	width: 250px;
	height: 200px;
	border: 1px solid red;
}

#about-bottom{
	width: 100%;
	height: 750px;
	background-color: #ecf0f1;
	display: flex;
	justify-content:center;
}
#about{
	width: 96%;
	height: 700px;
	background-color: #3498db;
	margin-top: 25px;
}
#about-flex{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
#bio{
	width: 40%;
	margin-top: 50px;
}
#profile-img{
	width: 40%;
	height: 300px;
	border: 1px solid orange;
}
#bio h3{
	font-size: 80px;
	color: #f2f2f2;
	text-align: left;
	margin-bottom: 0;
}
#bio p{
	color: #f2f2f2;
	margin-top: 0;
}
#about h2{
	font-size: 120px;
	margin-right: 20px;
	line-height: 90px;
	margin-bottom: 0;
	font-weight: 900;
}
#about h3 a{
	color: #333333;
	font-size: 30px;
	text-decoration: none;
	float: left;
	margin-left: 20px;
	margin-top: 80px;
}
#about h3 a:hover{
	color: #f2f2f2;
}
.last{
	color: #f2f2f2;
	margin-top: 0;
}

.first{
	margin-top: 0;
	text-align: left;
}

